@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

/* navbar section css */
.navbar {
    background-color: #f87300;
    color: white !important;

}

.left-menu ul li a {
    color: white !important;
}

/* header section */

header {
    width: 100%;
    height: 900px;
    background-image: url(/images/headerback.jpg);
    background-repeat: no-repeat;

}

.content {
    padding: 0%;
    position: relative !important;
    padding: 20%;
}

.content h1 {
    color: #f87300;
}

.btn-see {
    background-color: #f87300;
    color: white;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 200px;
}

#overlay {
    position: absolute;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 93%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(207, 196, 196, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.section-about {
    background-color: RGB(244, 244, 244);
}

.about-sect-left {
    border-right: 2px solid greenyellow;
    display: flex;
    flex-direction: column;

}

.about-sect-left img {
    width: 200px;
    align-self: flex-end;
    margin-right: 10px;
}

.about-sect-left p {
    align-self: flex-end;
    margin-right: 50px;
}

.about-title h1 {
    margin: 44px;
}

.about-sect-right p,
h4 {
    margin: 15px;
    width: 70%;
}

.about-sect-right h4 {
    color: greenyellow;
}


/* Porfolio */
.port img {
    width: 160px;
    height: 120px;
}

.portfolio {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.portfolio>* {
    flex: 1 1 10px;
}


/* blog */

.card {
    margin: 20px;
    box-shadow: #eeedeb;
}

.card img {
    width: 100%;
    height: 230px;
}

.card h3 {
    color: #f87300;
    margin: 5px;
}

.card span {
    color: rgb(106, 106, 161);
    background-color: rgba(229, 224, 224, 0.665);
    width: 100%;
}